---
import { getCollection } from "astro:content";
import BlogPost from "@components/BlogPost.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { sortByDateDesc } from "src/data/utils";
const allPosts = await getCollection("blog");
const sortedPosts = sortByDateDesc(allPosts);
const pageTitle = "Blog";
import { VisitorCount } from "@components/VisitorCount.tsx";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>Welcome to my blog where I share my journey as a developer in the cloud with AWS and Spring. I'm also exploring Rust. I write about my projects, the technical challenges I run into, and my thoughts from events I attend.
    Thanks for being visitor: <span class="inline-block"><VisitorCount client:load />. </span> </p>
  <ul class="py-2">
    {
      sortedPosts.map((post) => (
          <BlogPost
              url={`/blog/${post.id}/`}
              title={post.data.title}
              description={post.data.description}
              date={post.data.pubDate}
          />
      ))
    }
  </ul>
</BaseLayout>