---
import { getCollection } from "astro:content";
import BlogPost from "@components/BlogPost.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { sortByDateDesc } from "src/data/utils";
const allPosts = await getCollection("blog");
const sortedPosts = sortByDateDesc(allPosts);
const pageTitle = "Blog";
import { VisitorCount } from "@components/VisitorCount.tsx";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <p class="py-2">Welcome to my tech blog. This is where I document my learning journey in public as I work with Java,
    Spring, AWS, and Rust as a developer. By sharing my projects, technical challenges, and solutions,
    I'm creating both an accountability system for myself and a resource that might help others on similar paths.
    Each post represents a step in my skill development both progress and the inevitable hurdles along the way.
    Here you'll find code implementations, architecture decisions, and lessons learned from building with cloud technologies.
    Thanks for being visitor: <VisitorCount client:load />.</p>

  <ul>
    {
      sortedPosts.map((post: any) => (
          <BlogPost
              url={`/blog/${post.id}/`}
              title={post.data.title}
              description={post.data.description}
              date={post.data.pubDate}
          />
      ))
    }
  </ul>
</BaseLayout>