---
import BaseLayout from "@layouts/BaseLayout.astro";
import ProjectCard from "@components/ProjectCard.astro";
import { getCollection } from "astro:content";
import { sortProjectsByDate } from "src/data/utils";

const allProjects = await getCollection("projects");
const sortedProjects = sortProjectsByDate(allProjects);

const pageTitle = "Projects";
---

<BaseLayout title={pageTitle}>
    <main class="container mx-auto px-4 py-12">
        <h1 class="text-4xl font-bold mb-8">My Projects</h1>

        {sortedProjects.length === 0 ? (
                <p class="text-center text-gray-600 dark:text-gray-400">
                    No projects found yet. Please check back later.
                </p>
        ) : (
                <section>
                    <ul class="list-none">
                        {sortedProjects.map((project) => (
                                <ProjectCard
                                        title={project.data.title}
                                        description={project.data.description}
                                        image={project.data.image}
                                        technologies={project.data.technologies}
                                        liveUrl={project.data.liveUrl}
                                        githubUrl={project.data.githubUrl}
                                        id={project.id}
                                        status={project.data.status}
                                        publishDate={project.data.publishDate}
                                />
                        ))}
                    </ul>
                </section>
        )}
    </main>
</BaseLayout>