---
import BaseLayout from "@layouts/BaseLayout.astro";
const { frontmatter, minutesRead } = Astro.props;
const options = {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
};
---

<BaseLayout pageTitle={frontmatter.title}>
  <p><em>{frontmatter.description}</em></p>
  <p>{frontmatter.pubDate.toLocaleDateString("en-GB", options)}</p>

  <p>Written by: {frontmatter.author}</p>
  <p>minutes to read: {minutesRead}</p>

  <div class="flex flex-wrap gap-2 py-2">
    {
      frontmatter.tags.map((tag: String) => (
        <p class="tags">
          <a href={`/tags/${tag}`}>#{tag}</a>
        </p>
      ))
    }
  </div>

  <slot />
</BaseLayout>
