---
import BaseLayout from "@layouts/BaseLayout.astro";
const { frontmatter, minutesRead } = Astro.props;
import { dateOptions } from "src/data/utils";
---

<BaseLayout pageTitle={frontmatter.title}>
  <p><em>{frontmatter.description}</em></p>
  <p>{frontmatter.pubDate.toLocaleDateString("en-GB", dateOptions)}</p>

  <p>Written by: {frontmatter.author}</p>
  <p>minutes to read: {minutesRead}</p>

  <div class="flex flex-wrap gap-2 py-2">
    {
      frontmatter.tags.map((tag: String) => (
        <div class="taggradient">
          <p class="tags">
            <a href={`/tags/${tag}`}>#{tag}</a>
          </p>
        </div>
      ))
    }
  </div>

  <slot />
</BaseLayout>
